

    <div class="alert alert-light  display-6 text-center" >Welcome <%= user.email %></div>

    <!-- add button  -->
    <!-- Button trigger modal -->
    <div class="text-center">
      <button
      id="addVideo"
      type="button"
      class="btn btn-primary btn-lg text-center"
      data-bs-toggle="modal"
      data-bs-target="#Modal"
    >
     + Add Video
    </button>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% videos.forEach(video => { %>
      <div class="col">
        <div class="card">
          <a href="/videos/<%= video._id %>/delete" class="btn btn-danger">X</a>
          <div class="card-body text-center">
            <iframe width="100%" height="315" src="<%= video.embedLink %>">
            </iframe>
          </div>
          <button
            class="edit-video"
            data-video="<%= JSON.stringify(video) %>"
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#Modal"
          >
            Edit
          </button>
        </div>
        <p class="card-text p-3 mb-2 bg-secondary text-white"><%= video.description %></p>
      </div>
      <% }) %>
    </div>

    <!-- Modal -->
    <!-- Add or Edit MODAL -->
    <div
      class="modal fade"
      id="modal"
      tabindex="-1"
      aria-labelledby="modalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Add/Edit Modal</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form action="/videos" method="post">
              Embed Link: <input class="form-control" name="embedLink" type="url" required /> <br />
              Description: <textarea class="form-control" name="description" required></textarea>
              <input name="id" type="hidden">
              <br />
              <button class="btn btn-primary" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

